<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="botToken" value="Mjc2MTc0OTQ2MzkxMTYyODgw.C3LZgQ.D75AvJU3TWCtE9xSTeNygmGTFTE"/>
    <add key="adminIds" value="79592375789293568"/>
  </appSettings>
</configuration>